<% provide(:title, "パスワード再設定") %>
<div class="input-form">
  <h1>パスワード再設定</h1>
  
  <%= form_for(@user, url: password_reset_path(params[:id]), html: { class: "form-wrapper" }) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <%= hidden_field_tag :email, @user.email %>
    
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: '' %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation, "パスワード(確認)" %>
      <%= f.password_field :password_confirmation, class: '' %>
    </div>
    
    <div class="submit">
      <%= f.submit "パスワード更新！", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
