<% provide(:title, "プロフィール更新") %>
<h1>ユーザープロフィール更新</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :last_name, "姓" %>
  <%= f.text_field :last_name %>

  <%= f.label :first_name, "名" %>
  <%= f.text_field :first_name %>

  <%= f.label :player_name, "ゲーム内での名前" %>
  <%= f.text_field :player_name %>

  <%= f.label :lived_prefecture, "都道府県" %>
  <%= f.select :lived_prefecture, User.lived_prefectures.keys, {prompt: '選択してください'}, class: '' %>

  <% station_name = @user.station_datum == nil ? nil : @user.station_datum.station_name %>
  <%= label_tag(:station_datum_station_name, "最寄り駅") %>
  <span>正式名称でお願いします。同じ駅名が複数あり、うまくいかない場合はこちらにご連絡いただけると幸いです。</span>
  <%= text_field :station_datum, :station_name, value: station_name %>
  <p>駅</p>

  <%= f.label :ssbu_experience, "スマブラ歴" %>
  <%= f.select :ssbu_experience, User.ssbu_experiences.keys, {prompt: '選択してください'},
  class: '' %>

  <%= f.label :ssbu_skill, "スマブラの実力" %>
  <%= f.select :ssbu_skill, User.ssbu_skills.keys, {prompt: '選択してください'},
  class: '' %>
  <span>オンラインをやってない方はこれくらいだと思うで問題ないです。</span>

  <%= f.label :using_character, "メイン使用キャラ" %>
  <%= f.select :using_character, User.using_characters.keys, {prompt: '選択してください'},
  class: '' %>


  <%= f.submit "ユーザー情報更新！", class: "btn btn-primary" %>
<% end %>
