<h1>ユーザープロフィール更新</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :last_name, "姓" %>
  <%= f.text_field :last_name %>

  <%= f.label :first_name, "名" %>
  <%= f.text_field :first_name %>

  <%= f.label :player_name, "ゲーム内での名前" %>
  <%= f.text_field :player_name %>

  <%= f.label :lived_prefecture, "都道府県" %>
  <%= f.select :lived_prefecture, User.lived_prefectures.keys, {prompt: '選択してください'}, class: '' %>

  <%= f.submit "ユーザー情報更新！", class: "btn btn-primary" %>
<% end %>
