<h1>ユーザー新規作成</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :last_name, "姓" %>
  <%= f.text_field :last_name %>

  <%= f.label :first_name, "名" %>
  <%= f.text_field :first_name %>

  <%= f.label :player_name, "ゲーム内での名前" %>
  <%= f.text_field :player_name %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "パスワード(確認)" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "ユーザー新規作成！", class: "btn btn-primary" %>
<% end %>
