<% provide(:title, "新規登録") %>
<div class="input-form">
  <h1>ユーザー新規作成</h1>
  
  <%= form_for(@user, html: { class: "form-wrapper" }) do |f| %>
  <%= render 'shared/error_messages' %>
  
  <div class="field">
    <%= f.label :last_name, "姓" %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :first_name, "名前" %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :player_name, "ゲーム内での名前" %>
    <%= f.text_field :player_name %>
  </div>
  
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="submit">
    <%= f.submit "確認メールを送る", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
