<%= form_for(@hoff) do |f| %>
  <%= render "shared/hoff_error_messages" %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :dates %>
    <%= f.datetime_field :dates %>
    <%= f.label :end_dates %>
    <%= f.datetime_field :end_dates %>
  </div>

  <div class="field">
    <% prefecture_options = Prefecture.order(:id).map { |c| [c.name, c.id, data: { children_path: prefecture_cities_path(c) }] } %>
    <%= f.label :prefecture_id, "都道府県" %>
    <%= f.select :prefecture_id, prefecture_options, { include_blank: true }, class: 'select-parent' %>
  </div>

  <div class="field">
    <% cities = @hoff.prefecture.try(:cities) || [] %>
    <% cities_options = cities.map { |c| [c.name, c.id] } %>
    <%= f.label :city_id, "市区町村" %>
    <%= f.select :city_id, cities_options, { include_blank: true }, class: 'select-children' %>
  </div>

  <div class="field">
    <%= f.label :required_level %>
    <%= f.select :required_level, Hoff.required_levels.keys, { include_blank: true }, class: '' %>
  </div>

  <div class="field">
    <%= f.label :pt_cost %>
    <%= f.telephone_field :pt_cost %>
    <span>円</span>
  </div>

  <div class="field">
    <%= f.label :max_pt_count %>
    <%= f.telephone_field :max_pt_count %>
    <span>人</span>
  </div>

  <div class="field">
    <%= f.label :station_name %>
    <%= f.text_field :station_name %>
    <span>駅</span>
  </div>

  <div class="field">
    <%= f.label(:parking_space) %>
    <%= f.collection_radio_buttons(:parking_space, Hoff.parking_spaces, :first, :first) do |r| %>
      <%= tag.div(class: 'form-check form-check-inline') do %>
        <%= r.radio_button(class: 'form-check-input') + f.label(r.value, class: 'form-check-label') %>
      <% end %>
    <% end %>
  </div>
<!--
  <div class="field">
    <%= f.label(:permit_first_look) %>
    <%= f.collection_radio_buttons(:permit_first_look, Hoff.permit_first_looks, :first, :first) do |r| %>
      <%= tag.div(class: 'form-check form-check-inline') do %>
        <%= r.radio_button(class: 'form-check-input') + f.label(r.value, class: 'form-check-label') %>
      <% end %>
    <% end %>
  </div>
 -->
  <div class="field">
<%# 駅まで迎えに行くのか、駅からどれくらいの距離なのかなどを書いてもらう %>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>


  <%= f.submit yield(:button_text), class: "btn, btn-primary" %>
<% end %>
